VideoStore-2/web/data/aboutSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aboutus">
    <xs:annotation>
      <xs:documentation>Alan Sullivan done this file</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="about">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="image1"/>
              <xs:element type="xs:string" name="p"/>
              <xs:element type="xs:string" name="image2"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>